<template>
  <v-container>
    <v-row class="text-center">
        <h1 class="display-2 font-weight-bold mb-3 welcome">
          Cars
        </h1>
    </v-row>
      <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Model
          </th>
          <th class="text-left">
            Make
          </th>
          <th class="text-left">
            Year
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in cars"
          :key="item.id"
        >
          <td>{{ item.model }}</td>
          <td>{{ item.make }}</td>
          <td>{{ item.year }}</td>

        </tr>
      </tbody>
    </template>
  </v-simple-table>

  </v-container>
</template>

<script>
    import { mapState } from "vuex";
  export default {
    name: 'Cars',
    data: () => ({
        cars: [],
    }),
    computed: mapState(["token"]),
    created: function () {
        const requestOptions = {
                method: "GET",
                headers: { "Content-Type": "application/json", 'Authorization' : "Bearer " + this.token},
            };
            fetch(process.env.API_URL + "cars/get", requestOptions)
                .then(async response => {
                     const data = await response.json()

                    this.cars = data.data
                });
    }
  }
</script>

<style scoped>
    .welcome {
        width: 100%;
        margin-top: 10px;
    }
</style>
