<template>
  <v-container>
    <v-row class="text-center">
        <h1 class="display-2 font-weight-bold mb-3 welcome">
          Welcome to Carbeee test task
        </h1>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Login',
    data: () => ({
    })
  }
</script>

<style >
    .welcome {
        width: 100%;
        margin-top: 100px;
    }
</style>
