<template>
  <v-container>
    <v-container fluid fill-height>
            <v-layout align-center justify-center>
               <v-flex xs12 sm8 md4>
                  <v-card class="elevation-12">
                     <v-toolbar dark color="primary">
                        <v-toolbar-title>Login</v-toolbar-title>
                     </v-toolbar>
                     <v-card-text>
                        <v-form>
                           <v-text-field
                              prepend-icon="person"
                              name="email"
                              label="Email"
                              type="email"
                              v-model="email"
                           ></v-text-field>
                           <v-text-field
                              id="password"
                              prepend-icon="lock"
                              name="password"
                              label="Password"
                              type="password"
                              v-model="password"
                           ></v-text-field>
                        </v-form>
                     </v-card-text>
                     <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click="login">Login</v-btn>
                     </v-card-actions>
                  </v-card>
                   <v-alert type="error" v-if="errorMessage">
                     {{ errorMessage }}
                  </v-alert>
               </v-flex>
            </v-layout>
         </v-container>
  </v-container>
</template>

<script>
  import { store } from '../store'
  import { router } from '../router'

  export default {
    name: 'Login',
    data: () => ({
        email: '',
        password: '',
        errorMessage: ''
    }),

    methods: {
        login: function () {
            this.errorMessage = ''
            const requestOptions = {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email: this.email, password: this.password })
            };
            fetch(process.env.API_URL + "login", requestOptions)
                .then(async response => {
                     const data = await response.json()

                     if (!data.success) {
                        const error = (data && data.message) || response.status;
                        return Promise.reject(error);
                     }

                     if (data.data.token) {
                        store.commit('setToken', data.data.token)
                        router.push('/home')
                     }

                })
                .catch(error => {
                   this.errorMessage = error[0]
               });
        }
    }
  }
</script>
