<template>
  <v-container>
    <v-row class="text-center">
        <h1 class="display-2 font-weight-bold mb-3 welcome">
          Orders
        </h1>
    </v-row>
    <v-row align="center">
      <v-col
        class="d-flex"
        cols="12"
        sm="6"
      >
        <v-select
         :items="years"
          v-model="year_start"
          label="Start Year"
        ></v-select>
         <v-select
         :items="years"
          v-model="year_end"
          label="End Year"
        ></v-select>
         <v-select
         :items="makes"
          v-model="make"
          label="Make"
        ></v-select>
           <v-btn
      class="mx-2"
      fab
      dark
      color="teal"
      @click="getOrders"
    >
      <v-icon dark>
        mdi-format-list-bulleted-square
      </v-icon>
    </v-btn>
      </v-col>
    </v-row>
    <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
        <th class="text-left">
            ID
          </th>
          <th class="text-left">
            Description
          </th>
          <th class="text-left">
            Make
          </th>
          <th class="text-left">
            Model
          </th>
          <th class="text-left">
            Type
          </th>
          <th class="text-left">
            Year
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in orders"
          :key="item.id"
        >
          <td>{{ item.id }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.make }}</td>
          <td>{{ item.model }}</td>
          <td>{{ item.vehicle_type }}</td>
          <td>{{ item.year }}</td>


        </tr>
      </tbody>
    </template>
  </v-simple-table>

  </v-container>
</template>

<script>
    import { mapState } from "vuex";
  export default {
    name: 'Orders',
    data: () => ({
        orders: [],
        year_start: '',
        year_end: '',
        make: '',
        years: [''],
        makes: [''],
    }),
    computed: mapState(["token"]),
    created: function () {
        this.getOrders();
    },
    methods: {
        getOrders: function () {
            const requestOptions = {
                method: "GET",
                headers: { "Content-Type": "application/json", 'Authorization' : "Bearer " + this.token},
                };

            const query = '?year_start=' + this.year_start + '&year_end=' + this.year_end + '&make=' + this.make;
                fetch(process.env.API_URL + "orders/get" + query, requestOptions)
                    .then(async response => {
                        const data = await response.json()
                        this.orders = data.data

                        let self = this;
                        data.data.forEach(function (item) {
                            if (!self.years.includes(item.year)) {
                                self.years.push(item.year)
                            }

                            if (!self.makes.includes(item.make)) {
                                self.makes.push(item.make)
                            }
                        })

                        self.years.sort()
                        self.makes.sort()
                });
        }
    }
  }
</script>

<style scoped>
    .welcome {
        width: 100%;
        margin-top: 10px;
    }
    .v-input {
        margin-left: 10px;
    }
</style>
