<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>
      <div class="routes-links">
        <router-link to="/home">Home</router-link>
        <router-link to="/cars">Cars</router-link>
        <router-link to="/orders">Orders</router-link>
      </div>

    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: 'App',

  data: () => ({
    //
  }),

  computed: mapState(["token"]),
};
</script>

<style lang="scss" scoped>
    .routes-links a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: unset;
        margin-right: 10px;
        font-size: 1em;

        &:hover {
          color: rgb(0, 183, 255);
        }
    }

    .spacer {
      flex-grow: .45 !important;
    }
</style>
